body, html{
	background-color: #c0c0c0;
	color: rgb(30,30,30);
	font-family: monospace;
	font-size: 20px;
	margin:0;
	line-height: 1.25em;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}
.navbar{
	width: 100%;
	background-image: linear-gradient(to right, #b22222, #e3242b, #b222);
	height: 2.5rem;
}
.navbar ul,li{
	display: inline;
}
.navbar a{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: rgb(30,30,30);
	text-decoration: none;
	float: right;
	margin-right: 4em;
	margin-top: 0.5em;

}
.hh:hover{
	background-color: #696969;
	color:rgb(250,250,250);
	border-radius: 5px;
	padding: 0.1em;
}
.div1{
	color: black;
	background-image: url(../images/bck1.jpg);
	width: 100%;
	height: 27em;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom:0.2em solid;
}
.mypic{
	float: right;
	width: 40%;
	height: 100%;
	margin-right: 2rem;
	box-sizing: border-box;
}
.hi{
	float: left;
	width: 60%;
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	line-height: 1.5em;
	box-sizing: border-box;
	position: absolute;
	left: 2rem;
	top: 2rem;
}
.ee{
	float: left;
	width: 60%;
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1.5em;
	box-sizing: border-box;
	position: absolute;
	left: 2.5rem;
	top: 12rem;
}
.resume{
	float: left;
	font-family: monospace;
	text-decoration: none;
	background-color:#333;
	color:#fff;
	padding:0.5em 0.5em;
	border-top-right-radius: 1.3em;
	border-bottom-left-radius: 1em;
	position: absolute;
	left: 8rem;
	top: 18rem;
}
.git{
	float: left;
	font-family: monospace;
	text-decoration: none;
	background-color:#333;
	color:#fff;
	padding:0.5em 0.5em;
	border-top-left-radius: 1.3em;
	border-bottom-right-radius: 1em;
	position: absolute;
	left: 24rem;
	top: 18rem;
}
.resume:hover{
	background-color: #e3242b;
}
.git:hover{
	background-color: #e3242b;
}
.mft{
	width: 100%;
	background-color: rgb(30,30,30);
	height: 40px;
	position: relative;
}
.sicon{
	margin-top: 5px;
	height: 1.5rem;
	border-radius: 0.75rem;
	float: right;
	margin-right: 6rem;
}
.copy{
	float: left;
	margin-left: 1rem;
	color: rgb(230,230,230); 
	font-size: 0.6em;
}
.div2{
	color: black;
	background-image: url(../images/bck1.jpg);
	width: 100%;
	height: 27em;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom:0.2em solid;
}
.mypic2{
	float: left;
	width: 40%;
	height: 100%;
	margin-left: 2rem;
	box-sizing: border-box;
}
.contable{
	float: right;
	width: 50%;
	box-sizing: border-box;
	margin-top: 4.5rem;
}
.cont{
	height: 3rem;
	border-radius: 1.5em;
	background-color: rgb(240,240,240);
	padding: 0.2em;
	margin: 20px 5px;
}
.mad{
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.5rem;
	color: rgb(30,30,30);
	background-color: rgb(240,240,240);
	padding: 0.2em;
	border-top-right-radius: 0.8em;
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	border-top-left-radius: 0.2em;
}


/*for phone for phone for phone for phone for phone for phone for phone for phone for phone for phone for phone */
		@media only screen and (max-width: 1080px){
			body, html{
	background-color: #c0c0c0;
	color: rgb(30,30,30);
	font-family: monospace;
	font-size: 20px;
	margin:0;
	line-height: 1.25em;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}
.navbar{
	width: 100%;
	background-image: linear-gradient(to right, #b22222, #e3242b, #b222);
	height: 4rem;
}
.navbar ul,li{
	display: inline;
}
.navbar a{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: rgb(30,30,30);
	text-decoration: none;
	float: right;
	margin-right: 4em;
	margin-top: 1em;

}
.hh:hover{
	background-color: #696969;
	color:rgb(250,250,250);
	border-radius: 5px;
	padding: 0.1em;
}
.div1{
	color: black;
	background-image: url(../images/bck1.jpg);
	width: 100%;
	height: 1700px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom:0.2em solid;
}
.hi{
	font-family: 'Pacifico', cursive;
	width: 100%;
	font-size:9em;
	text-align: center;	
	line-height: 1.2em;
	box-sizing: border-box;
	position:initial;
	margin-top: 100px;
	margin-bottom: 80px;
}
.ee{
	width: 100%;
	font-family: monospace;
	font-size: 2.5em;
	line-height: 1.5em;
	box-sizing: border-box;
	position: initial;
	text-align: center;
	margin-bottom: 200px;
}
.resumecp{
	float: left;
	position: initial;
	width: 40%;
	margin-left: 10%;
}
.resume{
	font-family: monospace;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	background-color:#333;
	line-height: 1.1em;
	color:#fff;
	padding:0.5em 0.5em;
	border-top-right-radius: 1.3em;
	border-bottom-left-radius: 1em;
	position: initial;
	margin-left: 0;
}
.gitcp{
	float: right;
	position: initial;
	position:relative;
	width: 40%;
	margin-left: 10%;
}
.git{
	font-family: monospace;
	font-size: 2em;
	text-decoration: none;
	background-color:#333;
	line-height: 1.1em;
	text-align: center;
	color:#fff;
	padding:0.5em 0.5em;
	border-top-left-radius: 1.3em;
	border-bottom-right-radius: 1em;
	position: initial;
}
.mypiccp{
	position: absolute;
	float: left;
	left: 25%;
	width: 50%;
	bottom: 0;
	margin:0;
}
.mypic{
	width: 100%;
	position: initial;
	margin-right: 0;
}
.mft{
	width: 100%;
	background-color: rgb(30,30,30);
	height: 40px;
	position: relative;
}
.sicon{
	margin-top: 5px;
	height: 1.5rem;
	border-radius: 0.75rem;
	float: right;
	margin-right: 6rem;
}
.copy{
	float: left;
	margin-left: 1rem;
	color: rgb(230,230,230); 
	font-size: 0.6em;
}
.div2{
	color: black;
	background-image: url(../images/bck1.jpg);
	width: 100%;
	height: 27em;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom:0.2em solid;
}
.mypic2{
	float: left;
	width: 40%;
	height: 100%;
	margin-left: 2rem;
	box-sizing: border-box;
}
.contable{
	float: right;
	width: 50%;
	box-sizing: border-box;
	margin-top: 4.5rem;
}
.cont{
	height: 3rem;
	border-radius: 1.5em;
	background-color: rgb(240,240,240);
	padding: 0.2em;
	margin: 20px 5px;
}
.mad{
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.5rem;
	color: rgb(30,30,30);
	background-color: rgb(240,240,240);
	padding: 0.2em;
	border-top-right-radius: 0.8em;
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	border-top-left-radius: 0.2em;
}
		}