body, html{
	background-color: #ccc;
	color: #000;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	background-image: url('../images/bck1.jpg');
	background-image: 100%;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
#showcase{
	width: 100%;
}
#navbar{
	background-image: linear-gradient(to right, #e3242b, #b90e0a);
	color: #000;
}
#navbar ul{
	padding: 0;
	list-style: none;
	margin-right: 1%;
}
}
#navbar li{
	display: inline;
	color: black;
}
#navbar a{
	font-family: 'Montaga', serif;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	float: right;
	width: 10%;
	text-align: center;
	padding: 0;
	margin-top: 0;
	margin: 0 20px;
}
.hh:hover{
	background-color: black;
	color: #fff !important;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.hi{
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	position: absolute;
	top: 200px;
	left: 100px;
}
.ee{
	font-family: monospace;
	font-size: 20px;
	position: absolute;
	top: 305px;
	left: 110px;
}
.pic{
	position: absolute;
	height: 88%;
	bottom: 6%;
	right: 5%;
}
.mft{
	background-color: black;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding:0;
}
.resume{
	font-family: monospace;
	text-decoration: none;
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 15px;
	position: absolute;
	top: 370px;
	left: 110px;
}

.resume:hover{
	background:#e3242b;
	color:#fff;
}
.contact{
	font-family: monospace;
	text-decoration: none;
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 15px;
	position: absolute;
	top: 370px;
	left: 300px;
}
.contact:hover{
	background:#e3242b;
	color:#fff;
}
.otherpic{
	position: absolute;
	height: 88%;
	bottom: 6%;
	left: 5%;
}
.sicon{
	height: 22px;
	border-radius: 10px;
}
.mft ul{
	padding: 0;
	list-style: none;
	width: 67%;
}
.mft li{
	display: inline;
}
.mft a{
	float: right;
	margin-right: 11%;
}
.gmail{
	position: absolute;
	height: 10%;
	left: 51%;
	top: 45%;
	background-color: white;
	padding: 0.5%;
	border-radius: 50%;
}
.gmail2{
	position: absolute;
	height: 10%;
	left: 51%;
	top: 25%;
	background-color: white;
	padding: 0.5%;
	border-radius: 50%;
}
.phone{
	position: absolute;
	height: 10%;
	left: 51%;
	top: 65%;
	background-color: white;
	padding: 0.5%;
	border-radius: 50%;
}
.mad1{
	color: #000;
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;
	position: absolute;
	font-size: 200%;
	left: 61%;
	top: 27%;
	background-color: white;
	padding: 1%;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.8em;
}
.mad1:hover{
	color:blue;
}
.mad2{
	color: #000;
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;
	position: absolute;
	font-size: 200%;
	left: 61%;
	top: 47%;
	background-color: white;
	padding: 1%;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.8em;
}
.mad2:hover{
	color:blue;
}
.pn{
	font-family: 'PT Sans Narrow', sans-serif;
	position: absolute;
	font-size: 200%;
	left: 61%;
	top: 62%;
	background-color: white;
	padding: 1%;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.8em;
}
